body{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: inline-block;
}

#wrapper{
    max-width: 100%; 
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    height: 100%;
}

nav {
    position: sticky;
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.3
  }
  
  nav li {
    padding-top: 20px;
    display: inline;
    float: left;
  }


  @media (min-width:768px) {
    .affix-top {
      background: transparent;
      border-color: transparent;
      padding: 15px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
  
  .affix-top .nav>li>a {
    color: #000;
    font-family: helvetica;
    font-size: 1000.5px;
  }
  
  .affix-top.navbar .nav>li>a:hover,
  .affix-top.navbar .navbar-brand {
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */

::-webkit-scrollbar-track {
    background: #222222;
    opacity: 0.3;
  }
  
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
    background: #A0A0A0;
    border-radius: 10px;
  }
  
  
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  .login-form{
      height: 300px;
      width: 500px;
      float: right;
      margin-top: 100px;
      padding: 50px;
      padding-left: 60px; 
  }

  
  .signup-form{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 50px;
    padding-left: 60px; 
}

.signup-field{
  padding: 5px;
  margin: 5px;
  width: 400px;
  height: 40px;
}

.field{
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: 40px;
}

.signup-half-first{
  width: 500px;
  float: left;
  padding-left: 100px;
}

.signup-half-second{
  width: 500px;
 margin-left: 620px;
 padding-left: 50px;
}

select.signup{
  padding: 5px;
  margin: 5px;
  width: 400px;
  height: 40px;
}

input[type=submit] {
  width: 100px;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover{
  background-color: #d80027;
  -webkit-transition: all 0.5s ease;
}

.footer{
  background-color: black;
  width: 100%;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: -15px;
  left: 0;
  padding: 1rem;
 
}

p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

div.login-map{
  padding: 50px;
  padding-top: 100px;
  top: 3000px;
  width: 800px;
  margin: 30px;

}

div.livestream{
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 130px;
}

div.sosmaps{
  padding: 10px;
  margin: 10px;
  padding-left: 650px;
  position: absolute;
  top: 160px;
  width: 100%;
  height: 100%;

}

#map{
  height: 100%;
}

button.logscontainer{
  padding: 5px;
  padding-left: 10px;
  position: relative;
  top: 80px;
  margin: 10px;
  margin-left: 30px;
  border: solid;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  width: 960px;
  height: 150px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

button.soscontainer{
  padding: 5px;
  margin: 10px;
  border: solid;
  background-color: white;
  border-color: black;
  border-width: 1px;
  width: 270px;
  height: 100px;
  position: relative;
  text-align: left;
}

div.ongoingreports{
  padding: 5px;
  margin: 10px;
  margin-right: 0px;
  position: absolute;
  top: 70px;
  height: 100%;
  width: 320px;
  border: solid;
  border-top: transparent;
  border-bottom: transparent;
  border-color: black;
  border-width: 1px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto; 
}

div.folders{
  border: solid;
  border-width: 1px;
  border-color: #000;
  padding: 10px;
  margin: 10px; 
  height: 40px;
  width: 280px;
  position: relative;
}

select.sortby{
  padding: 5px;
  margin: 5px;
}

div.display{
 display: none;
}

div.logsall{
  padding: 10px;
  margin: 10px;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
}

div.datavis{
  width: 1310px;
  height: 530px;
  position: absolute;
  top: 100px;
  padding: 10px;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: hidden;

}

img.data:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out
}

img.data{
  box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
  margin: 10px; 
  padding:5px; 
  width: 400px; 
  height: 400px; 
  position: absolute; 
  top: 75px;
}

div.dataside{
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 100px;
  left: 300px;
}

img.dataimage{
  width: 15%;
  height: 25%;
  top: 80px;
  left: 450px;
  position: absolute;
  box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
}

img.dataimage:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out
}

img.datamodal{
  width: 100%;
  height: 100%;
  position: relative;
}

h4.unitmembers{
  position: relative;
  left: 300px;
  top: 80px;
}

img.profileModal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

h4.unitname{
  position: absolute;
  top: 300px;
  left: 50px;
  padding: 5px;
  margin: 5px;
}